<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<meta name="theme-color" content="#2196F3">
	<title>English Teaser</title>

	<!-- CSS  -->
	<link href="min/plugin-min.css" type="text/css" rel="stylesheet">
	<!-- <link href="min/custom-min.css" type="text/css" rel="stylesheet" > -->
	<link href="css/style.css" type="text/css" rel="stylesheet" >
</head>
<body id="top" class="scrollspy">

<!-- Pre Loader -->
<div id="loader-wrapper">
	<div id="loader"></div>
 
	<div class="loader-section section-left"></div>
	<div class="loader-section section-right"></div>
 
</div>

<!--Navigation-->
 <div class="navbar-fixed">
	<nav id="nav_f" class="default_color" role="navigation">
		<div class="container">
			<div class="nav-wrapper">
			<a href="#" id="logo-container" class="brand-logo">English Teaser</a>
				<ul class="right hide-on-med-and-down">
					<li><a href="#intro">Introduction</a></li>
					<li><a href="#work">Subjects</a></li>
					<li><a href="#agenda">Agenda</a></li>
					<li><a href="#team">Team</a></li>
					<li><a href="#map">Map</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
				<ul id="nav-mobile" class="side-nav">
					<li><a href="#intro">Introduction</a></li>
					<li><a href="#work">Subjects</a></li>
					<li><a href="#agenda">Agenda</a></li>
					<li><a href="#team">Team</a></li>
					<li><a href="#map">Map</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
			</div>
		</div>
	</nav>
</div>

<!--Hero-->
<div class="section no-pad-bot" id="index-banner">
	<div class="container">
		<h1 class="text_h center header cd-headline letters type">
			<span>Winter conferences : </span> 
			<span class="cd-words-wrapper waiting">
				<b class="is-visible">Unique date</b>
				<b>Two events</b>
				<b>One place</b>
			</span>
		</h1>
	</div>
</div>

<!--Intro and service-->
<div id="intro" class="section scrollspy">
	<div class="container">
		<div class="row">
			<div  class="col s12">
				<!-- <h2 class="center header text_h2">Suite à une étude menée sur les organisations, leurs définitions de stratégies et leurs systèmes d'information, nous organisons  une  conférence. 
					Celle-ci  permettra d'informer  l'audience  sur  les  problématiques que peuvent rencontrer les systèmes d'informations et comment l'aligner sur le plan stratégique d'une entreprise/organisation. 
					Aujourd'hui, le concept d'alignement stratégique est de plus en plus complexe car le système d'information devient omniprésent dans une entreprise et est devenu un pilier de l'organisation.
					Deux sujets seront traités  durant  cette  journée  d'information. Ces sujets auront comme points communs : l'évolution du système d'information, l'organisation, les stratégies d'entreprises.</span> </h2> -->
				<h2 class="center header text_h2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="span_h2"> Phasellus  </span>vestibulum lorem risus, nec suscipit lorem <span class="span_h2"> laoreet quis.</span> </h2>
			</div>

			<div  class="col s12 m4 l4">
				<div class="center promo promo-example">
					<i class="mdi-image-flash-on"></i>
					<h5 class="promo-caption">Speeds up development</h5>
					<p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
				</div>
			</div>
			<div class="col s12 m4 l4">
				<div class="center promo promo-example">
					<i class="mdi-social-group"></i>
					<h5 class="promo-caption">User Experience Focused</h5>
					<p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				</div>
			</div>
			<div class="col s12 m4 l4">
				<div class="center promo promo-example">
					<i class="mdi-hardware-desktop-windows"></i>
					<h5 class="promo-caption">Fully responsive</h5>
					<p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Video -->
<div class="section" id="video">
	<div class="container">
		<div class="video_container">
			<iframe src="https://www.youtube.com/embed/ysDY_CsWckU" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
		
	</div>
</div>

<!--Work-->
<div class="section scrollspy" id="work">
	<div class="container">
		<h2 class="header text_b">Subjects</h2>
		<div class="row">
			<div class="col s12 m6 l6">
				<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="img/iot.jpg">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">IOT, opportunities and tools<i class="mdi-navigation-more-vert right"></i></span>
						<p><a href="#">Project link</a></p>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">IOT, opportunities and tools<i class="mdi-navigation-close right"></i></span>
						<p>Here is some more information about this project that is only revealed once clicked on.</p>
					</div>
				</div>
			</div>
			<div class="col s12 m6 l6">
				<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="img/c_work.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Collaborative work<i class="mdi-navigation-more-vert right"></i></span>
						<p><a href="#">Project link</a></p>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Collaborative work<i class="mdi-navigation-close right"></i></span>
						<p>Here is some more information about this project that is only revealed once clicked on.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Parallax-->
<div class="parallax-container">
	<div class="parallax"><img src="img/parallax1.png"></div>
</div>

<!-- Timeline -->
<div class="section scrollspy" id="agenda">
	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture is-hidden">
				<img src="img/icons/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content  is-hidden">
				<h2>Welcome and collation</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date">8h30</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie is-hidden">
				<img src="img/icons/cd-icon-movie.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content is-hidden">
				<h2>Conference : Colaborative work</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date">9h00</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture is-hidden">
				<img src="img/icons/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content is-hidden">
				<h2>Break and buffet</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque.</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date">10h30</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location is-hidden">
				<img src="img/icons/cd-icon-location.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content is-hidden">
				<h2>Conférence : IOT</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date">10h40</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location is-hidden">
				<img src="img/icons/cd-icon-location.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content is-hidden">
				<h2>Fin des conférences</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date">12h10</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
	</section> <!-- cd-timeline -->
</div>

<!--Team-->
<div class="section scrollspy" id="team">
	<div class="container">
		<h2 class="header text_b"> Our Team </h2>
		<div class="row">
			<div class="col s12 m3">
				<div class="card card-avatar">
					<div class="waves-effect waves-block waves-light">
						<div class="crop" style="background-image:url('img/trombi/avatar1.jpg')"></div>
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Gwilherm BERNARD<br/>
							<small><em><a class="red-text text-darken-1" href="#">Developer</a></em></small></span>
						<!-- <p>
							<a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
								<i class="fa fa-facebook-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
								<i class="fa fa-twitter-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
								<i class="fa fa-google-plus-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
								<i class="fa fa-linkedin-square"></i>
							</a>
						</p> -->
					</div>
				</div>
			</div>
			<div class="col s12 m3">
				<div class="card card-avatar">
					<div class="waves-effect waves-block waves-light">
						<div class="crop" style="background-image:url('img/trombi/avatar2.jpg')"></div>
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Alan LE FOURNIS<br/>
							<small><em><a class="red-text text-darken-1" href="#">Developer</a></em></small>
						</span>
						<!-- <p>
							<a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
								<i class="fa fa-facebook-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
								<i class="fa fa-twitter-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
								<i class="fa fa-google-plus-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
								<i class="fa fa-linkedin-square"></i>
							</a>
						</p> -->
					</div>
				</div>
			</div>
			<div class="col s12 m3">
				<div class="card card-avatar">
					<div class="waves-effect waves-block waves-light">
						<div class="crop" style="background-image:url('img/trombi/avatar3.jpg')"></div>
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Alexis LE PIERRES<br/>
							<small><em><a class="red-text text-darken-1" href="#">Networking</a></em></small></span>
						<!-- <p>
							<a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
								<i class="fa fa-facebook-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
								<i class="fa fa-twitter-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
								<i class="fa fa-google-plus-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
								<i class="fa fa-linkedin-square"></i>
							</a>
						</p> -->
					</div>
				</div>
			</div>
			<div class="col s12 m3">
				<div class="card card-avatar">
					<div class="waves-effect waves-block waves-light">
						<div class="crop" style="background-image:url('img/trombi/avatar4.jpg')"></div>
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Cyril LE ROY<br/>
							<small><em><a class="red-text text-darken-1" href="#">Developer</a></em></small></span>
						<!-- <p>
							<a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
								<i class="fa fa-facebook-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
								<i class="fa fa-twitter-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
								<i class="fa fa-google-plus-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
								<i class="fa fa-linkedin-square"></i>
							</a>
						</p> -->
					</div>
				</div>
			</div>
			<div class="col s12 m3">
				<div class="card card-avatar">
					<div class="waves-effect waves-block waves-light">
						<div class="crop" style="background-image:url('img/trombi/avatar5.jpg')"></div>
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Paul LECLERC<br/>
							<small><em><a class="red-text text-darken-1" href="#">Developer</a></em></small></span>
						<!-- <p>
							<a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
								<i class="fa fa-facebook-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
								<i class="fa fa-twitter-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
								<i class="fa fa-google-plus-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
								<i class="fa fa-linkedin-square"></i>
							</a>
						</p> -->
					</div>
				</div>
			</div>
			<div class="col s12 m3">
				<div class="card card-avatar">
					<div class="waves-effect waves-block waves-light">
						<div class="crop" style="background-image:url('img/trombi/avatar6.jpg')"></div>
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Clément LIARD<br/>
							<small><em><a class="red-text text-darken-1" href="#">Networking</a></em></small></span>
						<!-- <p>
							<a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
								<i class="fa fa-facebook-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
								<i class="fa fa-twitter-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
								<i class="fa fa-google-plus-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
								<i class="fa fa-linkedin-square"></i>
							</a>
						</p> -->
					</div>
				</div>
			</div>
			<div class="col s12 m3">
				<div class="card card-avatar">
					<div class="waves-effect waves-block waves-light">
						<div class="crop" style="background-image:url('img/trombi/avatar7.jpg')"></div>
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Jérôme MARTIN<br/>
							<small><em><a class="red-text text-darken-1" href="#">Developer</a></em></small></span>
						<!-- <p>
							<a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
								<i class="fa fa-facebook-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
								<i class="fa fa-twitter-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
								<i class="fa fa-google-plus-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
								<i class="fa fa-linkedin-square"></i>
							</a>
						</p> -->
					</div>
				</div>
			</div>
			<div class="col s12 m3">
				<div class="card card-avatar">
					<div class="waves-effect waves-block waves-light">
						<div class="crop" style="background-image:url('img/trombi/avatar8.jpg')"></div>
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Julien NORMAND<br/>
							<small><em><a class="red-text text-darken-1" href="#">Developer</a></em></small></span>
						<!-- <p>
							<a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
								<i class="fa fa-facebook-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
								<i class="fa fa-twitter-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
								<i class="fa fa-google-plus-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
								<i class="fa fa-linkedin-square"></i>
							</a>
						</p> -->
					</div>
				</div>
			</div>
			<div class="col s12 m3">
				<div class="card card-avatar">
					<div class="waves-effect waves-block waves-light">
						<div class="crop" style="background-image:url('img/trombi/avatar9.jpg')"></div>
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Jordan NOURRY<br/>
							<small><em><a class="red-text text-darken-1" href="#">Developer</a></em></small></span>
						<!-- <p>
							<a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
								<i class="fa fa-facebook-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
								<i class="fa fa-twitter-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
								<i class="fa fa-google-plus-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
								<i class="fa fa-linkedin-square"></i>
							</a>
						</p> -->
					</div>
				</div>
			</div>
			<div class="col s12 m3">
				<div class="card card-avatar">
					<div class="waves-effect waves-block waves-light">
						<div class="crop" style="background-image:url('img/trombi/avatar10.jpg')"></div>
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Mathieu OZERAY<br/>
							<small><em><a class="red-text text-darken-1" href="#">Networking</a></em></small></span>
						<!-- <p>
							<a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
								<i class="fa fa-facebook-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
								<i class="fa fa-twitter-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
								<i class="fa fa-google-plus-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
								<i class="fa fa-linkedin-square"></i>
							</a>
						</p> -->
					</div>
				</div>
			</div>
			<div class="col s12 m3">
				<div class="card card-avatar">
					<div class="waves-effect waves-block waves-light">
						<div class="crop" style="background-image:url('img/trombi/avatar11.jpg')"></div>
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Félix POUVREAU<br/>
							<small><em><a class="red-text text-darken-1" href="#">Networking</a></em></small></span>
						<!-- <p>
							<a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
								<i class="fa fa-facebook-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
								<i class="fa fa-twitter-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
								<i class="fa fa-google-plus-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
								<i class="fa fa-linkedin-square"></i>
							</a>
						</p> -->
					</div>
				</div>
			</div>
			<div class="col s12 m3">
				<div class="card card-avatar">
					<div class="waves-effect waves-block waves-light">
						<div class="crop" style="background-image:url('img/trombi/avatar12.jpg')"></div>
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Benjamin ROBERT<br/>
							<small><em><a class="red-text text-darken-1" href="#">Developer</a></em></small></span>
						<!-- <p>
							<a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
								<i class="fa fa-facebook-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
								<i class="fa fa-twitter-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
								<i class="fa fa-google-plus-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
								<i class="fa fa-linkedin-square"></i>
							</a>
						</p> -->
					</div>
				</div>
			</div>
			<div class="col s12 m3">
				<div class="card card-avatar">
					<div class="waves-effect waves-block waves-light">
						<div class="crop" style="background-image:url('img/trombi/avatar13.jpg')"></div>
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Antoine-Ali ZARROUK<br/>
							<small><em><a class="red-text text-darken-1" href="#">Developer</a></em></small></span>
						<!-- <p>
							<a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
								<i class="fa fa-facebook-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
								<i class="fa fa-twitter-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
								<i class="fa fa-google-plus-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
								<i class="fa fa-linkedin-square"></i>
							</a>
						</p> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Map -->
<div id="map" class="scrollspy">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2708.1589382962725!2d-2.260115383926164!3d47.252595279162676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48056893813bcac7%3A0xa1e85733e72751a6!2sExia.Cesi!5e0!3m2!1sfr!2sus!4v1447838663834" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<!--Footer-->
<footer id="contact" class="page-footer default_color scrollspy">
	<div class="container">  
		<div class="row">
			<div class="col l9 s12">
				<form class="col s12" action="contact.php" method="post">
					<div class="row">
						<div class="input-field col s6">
							<i class="mdi-action-account-circle prefix white-text"></i>
							<input id="icon_prefix" name="name" type="text" class="validate white-text">
							<label for="icon_prefix" class="white-text">First Name</label>
						</div>
						<div class="input-field col s6">
							<i class="mdi-communication-email prefix white-text"></i>
							<input id="icon_email" name="email" type="email" class="validate white-text">
							<label for="icon_email" class="white-text">Email-id</label>
						</div>
						<div class="input-field col s12">
							<i class="mdi-editor-mode-edit prefix white-text"></i>
							<textarea id="icon_prefix2" name="message" class="materialize-textarea white-text"></textarea>
							<label for="icon_prefix2" class="white-text">Message</label>
						</div>
						<div class="col offset-s7 s5">
							<button class="btn waves-effect waves-light red darken-1" type="submit">Submit
								<i class="mdi-content-send right white-text"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
			<!-- <div class="col l3 s12">
				<h5 class="white-text">joashpereira.com</h5>
				<ul>
					<li><a class="white-text" href="http://www.joashpereira.com/">Home</a></li>
					<li><a class="white-text" href="http://www.joashpereira.com/blog">Blog</a></li>
				</ul>
			</div> -->
			<div class="col l3 s12">
				<h5 class="white-text">Social</h5>
				<ul>
					<li>
						<a class="white-text" href="https://www.behance.net/joashp">
							<i class="small fa fa-behance-square white-text"></i> Behance
						</a>
					</li>
					<li>
						<a class="white-text" href="https://www.facebook.com/joash.c.pereira">
							<i class="small fa fa-facebook-square white-text"></i> Facebook
						</a>
					</li>
					<li>
						<a class="white-text" href="https://github.com/joashp">
							<i class="small fa fa-github-square white-text"></i> Github
						</a>
					</li>
					<li>
						<a class="white-text" href="https://www.linkedin.com/in/joashp">
							<i class="small fa fa-linkedin-square white-text"></i> Linkedin
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright default_color">
		<div class="container">
			<!-- Made by <a class="white-text" href="http://joashpereira.com">Joash Pereira</a>. Thanks to <a class="white-text" href="http://materializecss.com/">materializecss</a> -->
		</div>
	</div>
</footer>


	<!--  Scripts-->
	<script src="min/plugin-min.js"></script>
	<script src="min/custom-min.js"></script>
	<script src="js/jquery-2.1.4.min.js"></script>
	<script>
		jQuery(document).ready(function($){
			var timelineBlocks = $('.cd-timeline-block'),
			offset = 0.8;

			//hide timeline blocks which are outside the viewport
			hideBlocks(timelineBlocks, offset);

			//on scolling, show/animate timeline blocks when enter the viewport
			$(window).on('scroll', function(){
				(!window.requestAnimationFrame) 
				? setTimeout(function(){ showBlocks(timelineBlocks, offset); }, 100)
				: window.requestAnimationFrame(function(){ showBlocks(timelineBlocks, offset); });
			});

			function hideBlocks(blocks, offset) {
				blocks.each(function(){
					( $(this).offset().top > $(window).scrollTop()+$(window).height()*offset ) && $(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
				});
			}

			function showBlocks(blocks, offset) {
				blocks.each(function(){
				( $(this).offset().top <= $(window).scrollTop()+$(window).height()*offset && $(this).find('.cd-timeline-img').hasClass('is-hidden') ) && $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
				});
			}
		});
	</script>

	</body>
</html>
